<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add products</title>
</head>
<center>
<body style="padding-top: 10%;">
    <h2>Add product</h2>
    <form action="/insert" method="post">
        Name <input type="text" name="txtName"><br><br>
        Price <input type="text" name="txtPrice"><br><br>
        Picture <input type="text" name="txtPicture"/><br><br>
        <input type="submit" value="Add">
    </form>
</body>
</center>
</html>