<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1><a href="/">ATN Toys Store</a></h1>
    <div class="menu">
        <form action="/search" method="POST">
            <input type="text" name="txtSearch">
            <input type="submit" value="Search">
        </form>
        <div><a href="/login">Login</a></div>
    </div>
    <div>
        {{#each data}}
        <div id="product">
            <img src="{{picture}}" alt="toys" width="200" height="250"><br>
            <center>{{name}} - {{price}}$</center>
        </div>
        {{/each}}
    </div>
    <video width="400" controls>
    <source src="/public/chon toan c.mp4" type="video/mp4">
</body>
</html>