<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        a{text-decoration: none; color: black; }
        a:hover{color: cadetblue;}
        h1{text-align: center;text-decoration: none; color: black}
    </style>
</head>
<body style="max-width: 800px; padding: 0% 23%">
    <h1><a href="/">ATN Toys Store</a></h1>
    <div>
        <a href="/login">Login</a>
    </div>
    <div>
        <form action="/search" method="POST">
            <input type="text" name="txtSearch">
            <input type="submit" value="Search">
        </form>
        {{#each data}}
        <div style="display: inline-block; padding: 30px">
            <img src="{{picture}}" alt="toys" width="200" height="250"><br>
            <center>{{name}} - {{price}}$</center>
        </div>
        {{/each}}
    </div>
</body>
</html>