<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<center><body style="padding-top:10%">
    <h3>Login</h3>
    <form action="/doLogin" method="POST">
        Username <input type="text" name="txtUser">
        Password <input type="password" name="txtPass">
        <input type="submit" value="Login">
    </form>
</body>
</center>
</html>